@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  color: #937b92;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

body {
  background-color: white;
  padding: 1rem;
  margin: 4rem 0;
  background-image: url("images/bg-pattern-bottom-desktop.svg"), url("images/bg-pattern-top-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left top;
}

.header-container {
  text-align: center;
  margin: 1rem 0;
}

.header-container .header {
  font-size: 2rem;
  padding: 0 1rem;
  color: #502050;
}

.header-container p {
  font-weight: 500;
  line-height: 1.5;
  margin: 1.5rem 0;
}

.review-container {
  text-align: center;
  margin: 3rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review-container .rating {
  background-color: #f7f2f7;
  border-radius: 0.5rem;
}

.review-container .rating .rating-stars {
  padding: 1rem;
}

.review-container .rating .rating-stars img {
  margin: 0 0.2rem;
}

.review-container .rating .rating-text {
  padding-bottom: 1rem;
  color: #502050;
  font-weight: 700;
}

.content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .content-card {
  background-color: #502050;
  padding: 2.5rem;
  border-radius: 0.5rem;
}

.content .content-card .card-user {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .content-card .card-user img {
  width: 15%;
  border-radius: 5rem;
}

.content .content-card .card-user p {
  margin-left: 1rem;
  color: white;
  font-weight: 500;
}

.content .content-card .card-user p span {
  color: #ee68a4;
}

.content .content-card .card-text {
  margin-top: 2rem;
  color: #f7f2f7;
  line-height: 1.5;
}

@media (min-width: 85rem) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    text-align: left;
    margin: 0;
  }
  .header-container .header {
    font-size: 3rem;
    padding-left: 0;
  }
  .header-container p {
    padding-right: 1rem;
    margin-bottom: 0;
    line-height: 1.5;
  }
  .review-container {
    margin: 0;
  }
  .review-container .rating {
    width: 34rem;
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .review-container .rating .rating-stars {
    margin: 0 1rem;
  }
  .review-container .rating .rating-text {
    padding: 0;
  }
  .review-container .rating:nth-child(2) {
    margin-left: 4.6rem;
  }
  .review-container .rating:nth-child(3) {
    margin-left: 9.2rem;
  }
  .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
    margin-top: 5rem;
  }
  .content .content-card:nth-child(2) {
    -webkit-transform: translateY(1.3rem);
            transform: translateY(1.3rem);
  }
  .content .content-card:nth-child(3) {
    -webkit-transform: translateY(2.6rem);
            transform: translateY(2.6rem);
  }
}
/*# sourceMappingURL=style.css.map */